.DS_Store
exports/
node_modules/
scripts/
package*.json

emails/
QCM/

# Exceptions: app-project workspaces
!app-project/client/package.json
!app-project/client/package-lock.json
!app-project/api/package.json
!app-project/api/package-lock.json

# Exceptions: TP starters
!TPs/**/package.json
!TPs/**/package-lock.json
